
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}


.locations-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.locations-container h2 {
  color: #34495e;
  margin-bottom: 10px;
}

.locations-container ul {
  list-style-type: none;
  padding: 0;
}

.locations-container li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.map-container {
  margin: 20px auto;
  max-width: 800px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.clear-db-button {
  /* I hate css, these button styles are ai generated (but edited slightly:D)*/
  background-color: #FFFFFF; 
  color: #000000; 
  border: none; 
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */ 
}
.buttons-container {
  /*margin: 20px auto;*/
  text-align: center;  /*Center the buttons */
  /*display: flex;*/
  width: 100%;
  overflow: auto;
  margin: 20px auto;
  padding: 5px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.buttons-container div {
  width: 50%;
  float: left;
}

.clear-db-button:hover {
  background-color: #DEE2E6; /* Darker red on hover */
}

.clear-db-button:active {
  background-color: #A7AFB6; /* Even darker red when clicked */
  transform: scale(0.98); /* Slightly shrink the button on click */
}
.sort-locations-button {
  background-color: #FFFFFF; 
  color: #000000; 
  border: none; 
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */ 
}
.sort-locations-button:hover {
  background-color: #DEE2E6; /* Darker red on hover */
}

.sort-locations-button:active {
  background-color: #A7AFB6; /* Even darker red when clicked */
  transform: scale(0.98); /* Slightly shrink the button on click */
}